.info{
    background-color: rgb(68, 68, 68);
    width: 350px;
    height: 200px;
    border-radius: 15px;
    margin: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.info h2{
    display: flex;
    justify-content: center; 
    font-size: 30px;
}